body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .info-container-clip {
    clip-path: polygon(40% 4%, 60% 4%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0)
  }
  .poke-grid {
    grid-template-columns: repeat(auto-fit, minmax(20em,1fr));
  }

  .header {
    clip-path: polygon(0 0, 100% 0, 100% 65%, 70% 65%, 60% 100%, 40% 100%, 30% 65%, 0 65%);
  }
}